<div class="container">
	<div class="tab-content">
		<div id="menu1" class="tab-pane fade in active">
		<button ui-sref="header.Register" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus">&nbsp;AddUser</span></button><br>
			<hr>
			<table
				class="table table-responsive-md table-striped approve_table notification-head"
				border="0">
				<thead>
					<tr>
						<th>name</th>
						<th>firstName</th>
						<th>lastName</th>
						<th>mobileNum</th>
						<th>password</th>
						<th>confirmPass</th>
						
						<!-- <th>View More</th> -->
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in details">
						<div>
							<td>{{x.name}}</td>
							<td>{{x.firstName}}</td>
							<td>{{x.lastName}}</td>
							<td>{{x.mobileNum}}</td>
							<td>{{x.password}}</td>
							<td>{{x.confirmPass}}</td>
							
							<td><button ui-sref="header.Editregister({userId:x.id})" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-edit"></span>
        </button></td>
							<td><a href="#" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-trash"></span>
        </a></td>
							<!-- <td><a href="#">{{x.viewMore}}</a></td> -->
						</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>



				
					
				