
<!--User Report Body-->
<div class="container-fluid dashbord-background">
	<div class="container">
		<div class="dashboard-main">
			<div class="row">
				<div class="col-md-7 col-md-offset-4">
					<img src="images/open-camera.png" />
				</div>
				<div class="col-md-8 col-md-offset-4">
					<button type="button" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-camera"></span> Open Camera
					</button>

					<!-- 	<button type="button" class="btn btn-primary btn-sm">Upload Photo
          					<span class="glyphicon glyphicon-camera"></span>
           				</button> -->
				</div>

				<form name="myForm" class="form-horizontal" id="form1" novalidate>
					<div class="col-md-6 dashboard-margin-t">

						<div class="form-group">
							<label class="control-label col-sm-4">Vehicle No:</label>
							<div class="col-sm-8">
								<input type="text" name="RegisterNo" class="form-control"
									placeholder="Ex..AP 05 BH 9018" ng-model="data.regstr"
									ng-pattern="/^([A-Z|a-z]{2}\s{1}\d{2}\s{1}[A-Z|a-z]{1,2}\s{1}\d{1,4})?([A-Z|a-z]{3}\s{1}\d{1,4})?$/"
									required> <span
									ng-show="myForm.RegisterNo.$invalid && myForm.RegisterNo.$touched ||myForm.RegisterNo.$invalid && myForm.RegisterNo.$dirty"
									style="color: red;"> <span
									ng-show="myForm.RegisterNo.$error.required">Vehicle No
										is required </span>
								</span> <span ng-show="myForm.RegisterNo.$error.pattern"
									style="color: red;">Enter correct vehicle no.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Offence Category:</label>
							<div class="col-sm-8">
								<select class="form-control"
									ng-options="Offence for Offence in offencelist"
									ng-model="data.Offence_Category" name="offence" required>
									<option value="" disabled="true">Select Category</option>
								</select> <span
									ng-show="myForm.offence.$invalid && myForm.offence.$touched"
									style="color: red;">Offence Category is required</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4">Vehicle type:</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="data.Vehicle_type"
									ng-options="vehicletpye for vehicletpye in typeofvehicle"
									name="vehicletype" required>
									<option value="" disabled="true">Select vehicle</option>
								</select> <span
									ng-show="myForm.vehicletype.$invalid && myForm.vehicletype.$touched"
									style="color: red;">Vehicle type is required</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-4">Location:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="data.Location"
									placeholder="Location" name="location" required> <span
									ng-show="myForm.location.$invalid && myForm.location.$touched"
									style="color: red;">Location is required</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-4">Description:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control"
									ng-model="data.Description" placeholder="Description"
									name="description" required> <span
									ng-show="myForm.description.$invalid && myForm.description.$touched"
									style="color: red;">Description is required</span>
							</div>
						</div>
					</div>

				</form>
                

                
<div class="container">

    <div class="col-xs-4">
    	<div class="form-group">
	     
	      <input type="file" class="filestyle" data-classButton="btn btn-primary">
		</div>
    </div>
</div>
    

				 <!-- <div class="col-md-4 dashboard-margin-t">
					<div ng-controller="upload">
						<div class="profile" title="Size should be 3.5cm X 4.5cm">
							<img ng-src="{{filepreview}}" class="img-responsive profilepic"
								ng-show="filepreview" />
						</div>
						<input type="file" class="browse" fileinput="file"
							filepreview="filepreview" />
					</div>
				</div>  
			</div>
			<div>
				<button type="button" class="btn btn-primary col-md-offset-5"
					ng-disabled="myForm.$invalid" ng-click="form_submit()">Submit</button>
			</div> -->
		</div>
	</div>
</div>