<div class="botton">
	<nav class="navbar navbar-default navbar-fixed-top blue">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#myPage">Traffic Application</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right" align="center">
				<li><a ui-sref=".Registration">Registration</a></li>
					<li><a ui-sref=".Report">Report Issue</a></li>
					<li><a ui-sref=".dashboard">Dashboard</a></li>
					<li><a ui-sref=".Pro">Profile</a></li>
					<li><a ui-sref=".Notification">Notification</a></li> 
				</ul>
			</div>
		</div>
	</nav>
</div>
<div ui-view></div>